@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<a asp-controller="Dish" asp-action="All">Dishes</a>
<a asp-controller="Dish" asp-action="New">New Dish</a>
<a asp-controller="Chef" asp-action="All">Chefs</a>
<a asp-controller="Chef" asp-action="New">New Chef</a>
