@model List<Dish>

<h3>All Dishes</h3>

<table>
    <thead>
        <th>Name</th>
        <th>Chef</th>
        <th>Tastiness</th>
        <th>Calories</th>
    </thead>
    <tbody>
        @foreach (Dish dish in Model)
        {
            <tr>
                <td>@dish.Name</td>
                <td>@dish.Chef</td>
                <td>@dish.Tastiness</td>
                <td>@dish.Calories</td>
            </tr>
        }

    </tbody>
</table>

