@model List<Dish>

<a asp-controller="Home" asp-action="Index">Home</a>

<h3>All Dishes</h3>

<table>
    <thead>
        <th>Name</th>
        <th>Chef</th>
        <th>Tastiness</th>
        <th>Calories</th>
    </thead>
    <tbody>
        @foreach (Dish dish in Model)
        {
            <tr>
                <td>@dish.Name</td>
                @{
                    if (dish.ChefOfDish != null) {
                        <td>@dish.ChefOfDish.FullName()</td>
                    }
                    else {
                        <td>No Chef Specified</td>
                    }
                }
                <td>@dish.Tastiness</td>
                <td>@dish.Calories</td>
            </tr>
        }

    </tbody>
</table>

