@model Dish



<div class="container w-75 mx-auto">
    <h2 class="text-center">New Dish</h2>

    <form class="shadow p-3 rounded" asp-controller="Dish" asp-action="Create" method="POST">

        <div class="mb-3">
            <label asp-for="Name"></label>
            <span asp-validation-for="Name" class="text-danger font-weight-bold"></span>
            <input class="form-control" asp-for="Name">
        </div>

        <div class="mb-3">
            <label asp-for="ChefId"></label>
            <span asp-validation-for="ChefId" class="text-danger font-weight-bold"></span>
            <select asp-for="ChefId">
                @foreach (Chef chef in Model.AllChefs) {
                    <option value=@chef.ChefId>@chef.FullName()</option>
                }
            </select>
        </div>

        <div class="mb-3">
            <label asp-for="Tastiness"></label>
            <span asp-validation-for="Tastiness" class="text-danger font-weight-bold"></span>
            <select asp-for="Tastiness">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>

        <div class="mb-3">
            <label asp-for="Calories"></label>
            <span asp-validation-for="Calories" class="text-danger font-weight-bold"></span>
            <input type="number" class="form-control" asp-for="Calories">
        </div>

        <div class="mb-3">
            <label asp-for="Description"></label>
            <span asp-validation-for="Description" class="text-danger font-weight-bold"></span>
            <input class="form-control" asp-for="Description">
        </div>

        <button class="btn btn-success">Submit</button>
        

    </form>

</div>